<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>社員情報削除</title>
    <link rel="stylesheet" type="text/css" href="css\fix.css"/>
  </head>
  <body>
    <div id="Header">
    <h1>社員情報削除</h1>
    <div id="menu">
      <input type="reset" value="ログアウト" onClick="login()">
      <br><input  type="text" id="found" size="20" maxlength="20"><button >検索</button>
    </div>
    </div>
    <div id= "pagebody">
    <div id="Sidebar">
      <ul>
        <ri><a href="../tempaltes/MainScreen.html">社員情報一覧</a></li>
          <br><ri><a href="../tempaltes/EmployeeRegistration.html">社員情報登録</a></ri>
          <br><ri>社員情報修正・削除</a></ri>
      </ul>
    </div>
      <div id="Mainbody">
        <h1>
          社員情報を削除しました！
        </h1>
    </div>
    </div>
    </body>
</html>
