<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>社員情報登録</title>
    <link rel="stylesheet" type="text/css" href="css\registration.css"/>
    <script type="text/javascript" src="jquery\registration.js"></script>
  </head>

  <body>
    <div id="Header">
    <h1>社員情報登録</h1>
    <div id="menu">
      <input type="reset" value="ログアウト" onClick="login()">
      <br><input  type="text" id="found" size="20" maxlength="20"><button >検索</button>
    </div>
    </div>
    <div id= "pagebody">
    <div id="Sidebar">
      <ul>
        <ri><a href="#" onclick="main() ">社員情報一覧</a></li>
          <br><ri>社員情報登録</a></ri>
          <br><ri><a href="#" onclick="fix() ">社員情報修正・削除</a></ri>
      </ul>
    </div>
    <div id="Mainbody">
    <p>
      <form action="cgi-bin/abc.cgi" method="post">
        <p>
        名前 <input type="text" name="namae" size="40" maxlength="40" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </p>
    <form action="cgi-bin/formmail.cgi" method="post">
        <p>生年月日</p>
            <p>年
            <select name="year">
                <option value="1">1951</option>
                <option value="2">1952</option>
                <option value="3">1953</option>
                <option value="4">1954</option>
                <option value="5">1955</option>
                <option value="6">1956</option>
                <option value="7">1957</option>
                <option value="8">1958</option>
                <option value="9">1959</option>
                <option value="10">1960</option>
                <option value="1">1961</option>
                <option value="2">1962</option>
                <option value="3">1963</option>
                <option value="4">1964</option>
                <option value="5">1965</option>
                <option value="6">1966</option>
                <option value="7">1967</option>
                <option value="8">1968</option>
                <option value="9">1969</option>
                <option value="10">1970</option>
                <option value="1">1971</option>
                <option value="2">1972</option>
                <option value="3">1973</option>
                <option value="4">1974</option>
                <option value="5">1975</option>
                <option value="6">1976</option>
                <option value="7">1977</option>
                <option value="8">1978</option>
                <option value="9">1979</option>
                <option value="10">1980</option>
                <option value="1">1981</option>
                <option value="2">1982</option>
                <option value="3">1983</option>
                <option value="4">1984</option>
                <option value="5">1985</option>
                <option value="6">1986</option>
                <option value="7">1987</option>
                <option value="8">1988</option>
                <option value="9">1989</option>
                <option value="10">1990</option>
                <option value="1">1991</option>
                <option value="2">1992</option>
                <option value="3">1993</option>
                <option value="4">1994</option>
                <option value="5">1995</option>
                <option value="6">1996</option>
                <option value="7">1997</option>
                <option value="8">1998</option>
                <option value="9">1999</option>
                <option value="10">2000</option>
            </select>
            月
            <select name="month">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            日
                <select name="day">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="1">13</option>
                    <option value="2">14</option>
                    <option value="3">15</option>
                    <option value="4">16</option>
                    <option value="5">17</option>
                    <option value="6">18</option>
                    <option value="7">19</option>
                    <option value="8">20</option>
                    <option value="9">21</option>
                    <option value="10">22</option>
                    <option value="11">23</option>
                    <option value="12">24</option>
                    <option value="5">25</option>
                    <option value="6">26</option>
                    <option value="7">27</option>
                    <option value="8">28</option>
                    <option value="9">29</option>
                    <option value="10">30</option>
                    <option value="11">31</option>

                </select></p>


    <form action="cgi-bin/abc.cgi" method="post">
        <p>性別
            <input type="radio" name="riyu" value="1">男性
            <input type="radio" name="riyu" value="2">女性
            </p>
    <form action="cgi-bin/abc.cgi" method="post">
        <p>部署
            <select name="department">
                <option value="1">営業部</option>
                <option value="2">経理部</option>
                <option value="3">管理部</option>
            </select>
        </p>
    <form action="cgi-bin/abc.cgi" method="post">
        <p>住所 <input type="text" name="namae" size="40" maxlength="20" pattern="^[0-9]{3}-[0-9]{4}(.+?[都道府県])(.+?[市区町村])(.+)"></p>
    <form action="cgi-bin/abc.cgi" method="post">
        <p>電話番号 <input type="text" name="namae" size="40" maxlength="20"pattern="^0[789]0-\d{4}-\d{4}$"></p>
    <form action="cgi-bin/abc.cgi" method="post">
         <p>メールアドレス <input type="text" name="namae" size="40" maxlength="20" pattern="^[\w!#%&'/=~`\*\+\?\{\}\^\$\-\|]+(\.[\w!#%&'/=~`\*\+\?\{\}\^\$\-\|]+)*@[\w!#%&'/=~`\*\+\?\{\}\^\$\-\|]+(\.[\w!#%&'/=~`\*\+\?\{\}\^\$\-\|]+)*$"></p>
    <form action="cgi-bin/abc.cgi" method="post">
        <p>最終学歴 <input type="text" name="namae" size="40" maxlength="20"></p>
    <form action="cgi-bin/abc.cgi" method="post">
        <p>特技 <input type="text" name="namae" size="40" maxlength="20"></p>
    <form action="cgi-bin/abc.cgi" method="post" enctype="multipart/form-data">
        <p>写真 <input type="file" name="faceimage"></p>
        <p><input type ="submit" name ="botan" value ="アップロード"></p>
    <p>
        <input type="reset" value="登録する">
        <input type="reset" value="キャンセル" onClick="location.href='file:///C:/Users/2019SUNSEERL10/Desktop/%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E9%96%8B%E7%99%BA%E8%AA%B2%E9%A1%8C/%E5%90%84%E7%94%BB%E9%9D%A2%E3%83%86%E3%83%B3%E3%83%97%E3%83%AC%E3%83%BC%E3%83%88/html/MainScreen.html'">
  </p>
  </div>
  </div>
  <div id="Footer">

  </div>
  </body>
</html>